[user]
    name = Soenke Ruempler
    email = soenke@ruempler.eu

[core]
    repositoryformatversion = 0
    filemode = true
    bare = false
    logallrefupdates = true
    warnAmbiguousRefs = false
    excludesfile = ~/.global_gitignore

[color]
    diff = auto
    status = auto
    branch = auto

[branch]
    autosetuprebase = always

[diff]
    renames = true

[push]
    default = current
[pull]
    rebase = true
[rebase]
    autoStash = true
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p

[receive]
    denyNonFastForwards = true

[rerere]
    enabled = 1
